<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>1f42b170-78b3-4319-9202-f094d726513d</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>Pub</Key>
            <Value>1100000582</Value>
          </Property>
          <Property>
            <Key>Adspace</Key>
            <Value>130001126</Value>
          </Property>
        </Metadata>
        <Name>Smaato</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>Format</Key>
            <Value>SmartBanner</Value>
          </Property>
        </Metadata>
        <Name>GoogleAdMob</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>11317327</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>80</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>480</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitID</Key>
                <Value>ca-app-pub-7607380003153721/4788904298</Value>
              </Property>
            </Metadata>
            <Name>GoogleAdMob</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-2EA1A9F5-C32A-40E6-8236-B5ECD9F5401F</Id>
        <Name>AdMediator_Home</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>11317326</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>80</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>480</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitID</Key>
                <Value>ca-app-pub-7607380003153721/9116513494</Value>
              </Property>
            </Metadata>
            <Name>GoogleAdMob</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-C06068A2-8760-4C7B-882B-87D22ABD9FE9</Id>
        <Name>AdMediator_NewsPaper_Detail</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>11317527</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>80</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>480</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitID</Key>
                <Value>ca-app-pub-7607380003153721/9116513494</Value>
              </Property>
            </Metadata>
            <Name>GoogleAdMob</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-35CC1195-940A-4D8E-867E-DF2FCD54F5B9</Id>
        <Name>AdMediator_Radio_Detail</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <RefreshRate>60</RefreshRate>
  <TestConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>ApplicationId</Key>
            <Value>test_client</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>Pub</Key>
            <Value>0</Value>
          </Property>
          <Property>
            <Key>Adspace</Key>
            <Value>0</Value>
          </Property>
        </Metadata>
        <Name>Smaato</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>Format</Key>
            <Value>Banner</Value>
          </Property>
        </Metadata>
        <Name>GoogleAdMob</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitID</Key>
                <Value>MY_AD_UNIT_ID</Value>
              </Property>
            </Metadata>
            <Name>GoogleAdMob</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-2EA1A9F5-C32A-40E6-8236-B5ECD9F5401F</Id>
        <Name>AdMediator_Home</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitID</Key>
                <Value>MY_AD_UNIT_ID</Value>
              </Property>
            </Metadata>
            <Name>GoogleAdMob</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-C06068A2-8760-4C7B-882B-87D22ABD9FE9</Id>
        <Name>AdMediator_NewsPaper_Detail</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>Image320_50</Value>
              </Property>
              <Property>
                <Key>Height</Key>
                <Value>50</Value>
              </Property>
              <Property>
                <Key>Width</Key>
                <Value>320</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Name>Smaato</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitID</Key>
                <Value>MY_AD_UNIT_ID</Value>
              </Property>
            </Metadata>
            <Name>GoogleAdMob</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-35CC1195-940A-4D8E-867E-DF2FCD54F5B9</Id>
        <Name>AdMediator_Radio_Detail</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </TestConfiguration>
  <UpdatedDateTime>2015-02-28T13:03:37.2596613Z</UpdatedDateTime>
</AdMediatorConfiguration>